# Active le moteur de réécriture d’Apache (mod_rewrite)
RewriteEngine On

# Si /maintenance.flag existe, et est un fichier régulier
RewriteCond %{DOCUMENT_ROOT}/maintenance.flag -f

# Ne pas bloquer la page de maintenance elle-même
RewriteCond %{REQUEST_URI} !^/maintenance.html$

# Exclure ton IP pour pouvoir accéder au site pendant la maintenance
#RewriteCond %{REMOTE_ADDR} !^123\.45\.67\.89$

# Pour toutes les autres requêtes, ne réécris rien mais renvoie une erreur 503 (Service Unavailable)
RewriteRule ^ - [R=503,L]

# Quand une erreur 503 (Service Unavailable) est générée, sert le fichier /maintenance.html
ErrorDocument 503 /maintenance.html
