body {
    background-image: url("./assets/images/space.jpg");
    background-position: center;
    background-position: top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffc107;
    background-repeat: no-repeat;
    background-color: black;
  }
table{
  background-color: #000000c7;
  text-align: center;
  color: rgb(240, 173, 78);
  margin: 0 auto;
  border-color: rgb(240, 173, 78);
}
#tableau {
  vertical-align: center;
}
#titre{
  color: #ffc107;
  text-align: center;
  font-size: 70px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 900;
}
a:visited{
  color: rgb(240, 173, 78);
}
.btn{
  background-color: #d0880d00; 
  border-color: rgb(240, 173, 78);
  color: rgb(240, 173, 78);
  font-family: inherit;
  font-size: large;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  /* margin-left: 30%;
  margin-top: 8%; */
  position: fixed;
  top: 0;
}

.btn:hover{
  background-color: rgb(240, 173, 78);
  color: white;
}

#titre{
    text-align: center;
}

h2, p{
  margin-left: 30%;
  position: relative; /* Pour pouvoir positionner l'arrière-plan */
  display: inline-block; /* Pour que le fond ne s'étende que sur le texte */
  background-color: #000000c7; /* Couleur de fond semi-opaque */
  padding: 5px 10px; /* Espacement interne pour rendre le texte lisible */
  border-radius: 5px; /* Optionnel : arrondir les coins du fond */
}

.form-film-gagnant{
  margin-left: 30%;
}

.main-zone{
  margin-left: 30%;
}

.texte-historique {
  background-color: #000000c7;
  display: inline-block;
  margin-left: 30%;
}

.texte-film-victorieux {
  background-color: #000000c7;
}

.film-victorieux {
  background-color: #906a039c;
}