body {
    background-image: url("./assets/images/space.jpg");
    background-position: center;
    background-position: top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-repeat: no-repeat;
    background-color: black;
  }
table{
  background-color: #000000c7;
  text-align: center;
  color: #ffc107;
  margin: 0 auto;
  border-color: #ffc107;
}
#tableau {
  vertical-align: center;
}
#titre{
  color: #ffc107;
  text-align: center;
  font-size: 70px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 900;
}
a:visited{
  color: #ffc107;
}
.btn{
  background-color: #d0880d00; 
  border-color: #ffc107;
  color: #ffc107;
  font-family: inherit;
  font-size: large;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 30%;
  margin-top: 8%;
  position: fixed;
}

.btn:hover{
  background-color: #ffc107;
  color: white;
}