/* Pour réinitialiser les styles par défaut des navigateurs */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
  font-size: inherit;
}

button {
  letter-spacing: inherit;
}
